.img-fluid{
    height: 400px;
    width: 400px;
    margin: 10px; 
}

.heading{
    font-family: 'Rubik Moonrocks', cursive;
    
}

.lead{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}
.img2{
    height: 400px;
    width: 800px; 
    border-radius: 10px;  
}

.d{
    height: 200px;
    width: 500px;
}